<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="Boku no roboto">
    <webots>
        <plugin type="robot_sim::RobotDriver"/>

        <device reference="left" type="DistanceSensor">
            <ros>
                <topicName>/left_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

        <device reference="right" type="DistanceSensor">
            <ros>
                <topicName>/right_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>


        <device reference="center" type="DistanceSensor">
            <ros>
                <topicName>/central_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>

    </webots>
</robot>
